<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action='register' method="POST">
          {% csrf_token %}

        <label for="first_name">First name:</label> 
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required><br><br>

        <label for="last_name">Last_name:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="User Name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password1" placeholder="Password" required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="password2" placeholder="Confirm password" required><br><br>
       
        <button type="submit">Register</button>
    </form>

<div>
    {%for message in messages%}
    <h3> {{message}}</h3>
    {%endfor%}
</div>

</body>


</html>